body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.header {
  height: 55vh;
  background-color: blueviolet;
  text-align: center;
  color: white;
  margin: 0 !important;
  padding: 10vh;
}

.button {
  margin-left: 20vw;
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  margin-top: -50px;
}

.bloc {
  height: 100vh;
  padding: 10vh;
  text-align: center;
}

.separate-middle {
  display: flex;
  justify-content: space-between;
  margin: 20vh 10vw;
}

.text-left {
  text-align: left;
  padding: 10px 5vw;
  font-size: large;
}